---
layout: default
---

<div class="home">

  <h1>A "Getting Started" Guide for Developers Interested in Robotics</h1>
  <!--{% include youtube_index.html youtubeid="9efBzYAi1QI" title="Above video will be changed.  Just a place holder." %}-->

  {% include image_onrightoftext.html img="assets/turtlebot_2_lg.png" width="225" %}

  <ol>
    {% for post in site.posts reversed %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ol>

</div>
